{% extends 'base.html.twig' %}

{% block title %}Hello MedecinController!{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <h1 style="text-align: center">Dr.{{ medecin.prenom }} {{ medecin.nom }}</h1>
    <h3 style="text-align: center"> Disponibilité</h3>
    <button type="button" class="btn btn-secondary btn-lg"><a href="{{ path("rdvAdd", {id: medecin.id}) }}">Ajouter Rendez-vous</a></button>
{% endblock %}
