{% extends 'base.html.twig' %}
{% block title %}Hello MedecinController!{% endblock %}
{% block stylesheets %}
    <style>
        #calendrier {
            width: 100%;
            margin: auto;
        }
        a#rdv {
            display: inline-block;
            color : white;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            background: #17324f;
            margin : 1rem;
        }
    </style>
{% endblock %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <a id="rdv" href="{{ path("rdvAdd", {id : medecin.id}) }}">Prendre Rendez-vous</a>
    <div id="calendrier"></div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView : 'dayGridWeek',
                locale : 'fr',
                timeZone : "Europe/Paris",
                headerToolbar : {
                    start: 'prev,next,today',
                    center : "title",
                    end : "dayGridMonth,timeGridWeek"
                },
                events : {{ datas|raw }}
            });

            calendar.render();
        }
    </script>
{% endblock %}