{% extends 'base.html.twig' %}

{% block title %}Ajout medecin {% endblock %}

{% block body %}
    <div class="container">
        <section class="content">
            {{ form(form) }}
        </section>
    </div>
{% endblock %}
