{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}
{% block stylesheets %}

    <link href="{{ asset('css/serviceAdd.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <h1>Yo</h1>
{% endblock %}
